/* primero vamos a resetear los valores por default */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    

/* estilos generales del <body> */
body {
    background-color: #23272A;
}



/* estilos generales del <header> */

header {
    display: flex;
    background-color: #0E141B;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
}


header nav ul {
    display: flex;
    color: whitesmoke;
    list-style: none;   
    gap: 50px;
}

header nav ul li a:link, header nav ul li a:visited {
    font-family: "Lexend Deca", sans-serif;
    color: whitesmoke;
    font-weight: 500;
    font-size: small;
    text-decoration: none;
}

header nav ul li a:hover, header nav ul li a:active {
    color: crimson;
}

header img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-color: aliceblue;
}

main {
   display: grid;
   grid-template-columns: 1fr ;
   grid-template-rows: repeat(1, 30%);
   gap: 30px;
   margin: 50px 50px;
}


h1 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 500%;
    color: whitesmoke;
    text-align: center;
    margin-bottom: 50px;
}


p {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 700;
    font-style:normal;
    font-size: 80%;
    color: whitesmoke;
    text-align: justify;
}

div.mail, div.telefono, div.linkedin, div.github, div.ig {
    display: flex;
    gap: 30px;
}