/* primero vamos a resetear los valores por default */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    

/* estilos generales del <body> */
body {
    background-color: #23272A;
}



/* estilos generales del <header> */

header {
    display: flex;
    background-color: #0E141B;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
}

header img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-color: aliceblue;
}


header nav ul {
    display: flex;
    color: whitesmoke;
    list-style: none;   
    gap: 50px;
}

nav.navbar {
    background-color: #0E141B;
}

header nav ul li a:link, header nav ul li a:visited {
    font-family: "Lexend Deca", sans-serif;
    color: whitesmoke;
    font-weight: 500;
    font-size: small;
    text-decoration: none;
}

header nav ul li a:hover, header nav ul li a:active {
    color: crimson;
}

main {
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: repeat(3, 25%);
    gap: 30px;
}

main div p.nivel {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 700;
    font-style:normal;
    font-size: 150%;
    color: whitesmoke;
    text-align: center;
}

main div p.periodo {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 550;
    font-style:normal;
    font-size: 100%;
    color: whitesmoke;
    text-align: center;
}

main div p.establecimiento {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 550;
    font-style:normal;
    font-size: 100%;
    color: whitesmoke;
    text-align: center;
}

h1 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 500%;
    color: whitesmoke;
    margin: 20px 30px;
}


/* mq de pc desktop */
    @media screen and (min-width: 1024px) {
        main {
            grid-template-columns: repeat(3, 1fr );
            grid-template-rows: 30% 30% 30%;
        }
    
        main h1 {
            grid-row: span 3;
            grid-column: span 3;
            margin: 50px 200px;

        }

       main div.año-uno, main div.año-dos, main div.año-tres {
        grid-row: span 1;
        grid-column: span 2;
        margin-left: 200px;
       }

       main div.año-uno, main div.año-dos {
        margin-bottom: 100px;
       }

       main div.descripcion p {
        text-align: justify;
        margin-left: 0;
       }

    }

