@charset "UTF-8";
/* mixing para estilo de header */
/* mixing para el footer */
/* celular */
/* desktop */
/* para celu: */
/* este mixing es para lograr el efecto de tarjeta con fondo azul, para que sobresalte cada elemento, en el HTML "04 skills" */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #23272A;
}

header {
  background-color: #0E141B;
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;
  align-items: center;
  height: 80px;
}
header img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-color: aliceblue;
}
header nav ul {
  display: flex;
  color: whitesmoke;
  list-style: none;
  gap: 10px;
}
header nav ul li a:link, header nav ul li a:visited {
  font-family: "Lexend Deca", sans-serif;
  color: whitesmoke;
  font-weight: 500;
  font-size: small;
  text-decoration: none;
}
header nav.navbar div.container-fluid div.collapse ul.navbar-nav li.nav-item a.nav-link:hover, header li.nav-link a:active {
  color: crimson;
}

.bg-light {
  background-color: #0E141B !important;
}

.navbar-nav .nav-link.active {
  color: whitesmoke !important;
}

button.navbar-toggler {
  background-color: whitesmoke !important;
}

/* código para arreglar el menú hamburguesa que no me funciona cuando lo despliego para celular */
@media screen and (max-width: 550px) {
  .navbar-collapse {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0E141B;
    z-index: 1050;
    overflow-y: auto;
    display: none;
  }
  .navbar-collapse .navbar-nav .nav-link.active {
    color: #ff5277 !important;
    font-size: 25px;
  }
  .navbar-collapse.show {
    display: block;
  }
  .navbar-nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav-link {
    font-size: 1.5rem;
    margin: 1rem 0;
  }
  .navbar-toggler {
    z-index: 1051;
  }
  header img {
    z-index: 1051;
  }
}
main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 30px;
  margin: 50px;
}
main div.texto h1 {
  margin-top: 10px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 650%;
  color: whitesmoke;
  text-align: center;
}
main div.texto h2 {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 550;
  font-style: normal;
  font-size: 200%;
  color: #ff5277;
  text-align: center;
  margin-bottom: 75px;
}
main div.texto p {
  font-family: "Libre Baskerville", serif;
  font-weight: 550;
  font-style: normal;
  font-size: 100%;
  color: whitesmoke;
  text-align: justify;
}
main .img {
  display: flex;
  justify-content: center;
}
main .img img {
  width: 20rem;
  height: 20rem;
  border-style: groove;
  border-radius: 25%;
  border-color: whitesmoke;
  margin-bottom: 100px;
}

footer {
  background-color: #0E141B;
  display: flex;
  height: 100px;
  gap: 40px;
  align-items: center;
  justify-content: center;
}
footer p.legal {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 100%;
  color: whitesmoke;
}
footer p.nombre {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100%;
  color: whitesmoke;
}
footer nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
}
footer nav ul li a img {
  height: 1.5em;
  width: 1.5em;
}

@media screen and (min-width: 800px) {
  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 30px;
    margin: 50px;
  }
}
@media screen and (min-width: 1024px) {
  header a img:hover {
    transform: scale(1.1);
  }
  /* vuelvo a importar los estilos del header con un mixing */
  header {
    background-color: #0E141B;
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    align-items: center;
    height: 80px;
  }
  /* animación para los componentes del <nav> */
  .navbar-nav .nav-link {
    color: whitesmoke;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 500;
    font-size: 12pt;
    text-decoration: none;
    transition: color 0.3s, transform 0.3s;
  }
  .navbar-nav .nav-link:hover,
  .navbar-nav .nav-link:focus {
    color: #ff5277 !important;
    transform: scale(1.1);
  }
  main {
    gap: 300px;
  }
  main div.texto {
    width: 800px;
  }
  main div.texto h1, main div.texto h2, main div.texto p {
    text-align: left;
    margin-left: 150px;
  }
  main div.texto p {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: large;
    text-decoration: solid;
    text-align: justify;
  }
  main .img img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 0%;
    border-style: groove;
    border-color: whitesmoke;
  }
}
@media screen and (min-width: 1024px) and (min-width: 1400px) {
  main {
    gap: 300px;
  }
  main div img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 0%;
    border-style: groove;
    border-color: whitesmoke;
  }
  main .container-main {
    display: flex;
    gap: 100px;
  }
  main .texto h1 {
    margin-top: 10px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 650%;
    color: whitesmoke;
    text-align: center;
  }
}
@media screen and (min-width: 1024px) {
  footer {
    bottom: 0;
    width: 100%;
    background-color: #0E141B;
    display: flex;
    height: 75px;
    gap: 200px;
    align-items: center;
    justify-content: center;
  }
}
/* mixing para estilo de header */
/* mixing para el footer */
/* celular */
/* desktop */
/* para celu: */
/* este mixing es para lograr el efecto de tarjeta con fondo azul, para que sobresalte cada elemento, en el HTML "04 skills" */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main.contenedor {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 30px;
  margin: 50px;
}
main.contenedor h1 {
  margin-top: 10px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 650%;
  color: whitesmoke;
  text-align: center;
}
main.contenedor div.container-edu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main.contenedor div.container-edu section.educacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
main.contenedor div.container-edu section.educacion div.tarjeta {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
  gap: 40px;
  background-color: #0E141B;
  padding: 20px;
  border-radius: 30px;
}
main.contenedor div.container-edu section.educacion div.tarjeta div.ano p.periodo {
  font-family: "Libre Baskerville", serif;
  font-weight: 550;
  font-style: normal;
  font-size: 80%;
  color: whitesmoke;
  text-align: justify;
}
main.contenedor div.container-edu section.educacion div.tarjeta div.referencia h3 {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 550;
  font-style: normal;
  font-size: 130%;
  color: #ff5277 !important;
  text-align: justify;
  margin-bottom: 20px;
}
main.contenedor div.container-edu section.educacion div.tarjeta div.referencia p.establecimiento {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 550;
  font-style: normal;
  font-size: 90%;
  color: whitesmoke !important;
  text-align: justify;
  margin-bottom: 20px;
}

@media screen and (min-width: 1024px) {
  main.contenedor {
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main.contenedor h1 {
    text-align: left;
    margin-left: 150px;
  }
  main.contenedor div.container-edu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main.contenedor div.container-edu section.educacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100% !important;
    border: 0;
    margin-bottom: 20px;
  }
  main.contenedor div.container-edu section.educacion div.tarjeta {
    display: flex;
    align-items: flex-start;
    background-color: #0E141B;
    padding: 20px;
    border-radius: 10px;
    gap: 50px;
    width: 100%;
  }
  main.contenedor div.container-edu section.educacion div.tarjeta div.ano p.periodo, main.contenedor div.container-edu section.educacion div.tarjeta div.referencia h3, main.contenedor div.container-edu section.educacion div.tarjeta div.referencia p.establecimiento {
    width: 100%;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main.experiencia {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 30px;
  margin: 50px;
}
main.experiencia h1 {
  margin-top: 10px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 650%;
  color: whitesmoke;
  text-align: center;
}
main.experiencia div.contenido-centrado {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main.experiencia div.contenido-centrado section.experiencia {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
main.experiencia div.contenido-centrado section.experiencia div.tarjeta {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
  gap: 40px;
  background-color: #0E141B;
  padding: 20px;
  border-radius: 30px;
}
main.experiencia div.contenido-centrado section.experiencia div.tarjeta div.imagen img.exp {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}
main.experiencia div.contenido-centrado section.experiencia div.tarjeta div.content h3 {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 550;
  font-style: normal;
  font-size: 130%;
  color: #ff5277 !important;
  text-align: justify;
  margin-bottom: 20px;
}
main.experiencia div.contenido-centrado section.experiencia div.tarjeta div.content p.empresa, main.experiencia div.contenido-centrado section.experiencia div.tarjeta div.content p.descripcion {
  font-family: "Libre Baskerville", serif;
  font-weight: 550;
  font-style: normal;
  font-size: 100%;
  color: whitesmoke;
  text-align: justify;
}

@media screen and (min-width: 1024px) {
  main.experiencia {
    margin-bottom: 10%;
  }
  main.experiencia h1 {
    text-align: left;
    margin-left: 150px;
  }
  main.experiencia div.contenido-centrado {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main.experiencia div.contenido-centrado section.experiencia {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    border: 0;
    margin-bottom: 20px;
  }
  main.experiencia div.contenido-centrado section.experiencia div.tarjeta {
    display: flex;
    align-items: flex-start;
    background-color: #0E141B;
    padding: 20px;
    border-radius: 10px;
    gap: 50px;
    width: 100%;
  }
  main.experiencia div.contenido-centrado section.experiencia div.tarjeta div.imagen {
    width: 100%;
    height: auto;
    max-width: 100px;
    object-fit: contain;
  }
  main.experiencia div.contenido-centrado section.experiencia div.content {
    flex: 1;
  }
  main.experiencia div.contenido-centrado section.experiencia div.imagen img.exp {
    border: 0;
  }
}
/* mixing para estilo de header */
/* mixing para el footer */
/* celular */
/* desktop */
/* para celu: */
/* este mixing es para lograr el efecto de tarjeta con fondo azul, para que sobresalte cada elemento, en el HTML "04 skills" */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main.skills {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 30px;
  margin: 50px;
}
main.skills h1 {
  margin-top: 10px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 650%;
  color: whitesmoke;
  text-align: center;
}
main.skills div.megacontenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main.skills div.megacontenedor section.idiomas, main.skills div.megacontenedor section.programacion, main.skills div.megacontenedor section.diseño, main.skills div.megacontenedor section.loc {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
main.skills div.megacontenedor section.idiomas div.skill-card, main.skills div.megacontenedor section.programacion div.skill-card, main.skills div.megacontenedor section.diseño div.skill-card, main.skills div.megacontenedor section.loc div.skill-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 40px;
  background-color: #0E141B;
  padding: 20px;
  border-radius: 30px;
}
main.skills div.megacontenedor section.idiomas div.skill-card h2, main.skills div.megacontenedor section.programacion div.skill-card h2, main.skills div.megacontenedor section.diseño div.skill-card h2, main.skills div.megacontenedor section.loc div.skill-card h2 {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 550;
  font-style: normal;
  font-size: 130%;
  color: #ff5277 !important;
  text-align: center;
  margin-bottom: 20px;
}
main.skills div.megacontenedor section.idiomas div.skill-card div.container p.lang, main.skills div.megacontenedor section.programacion div.skill-card div.container p.lang, main.skills div.megacontenedor section.diseño div.skill-card div.container p.lang, main.skills div.megacontenedor section.loc div.skill-card div.container p.lang {
  font-family: "Libre Baskerville", serif;
  font-weight: 550;
  font-style: normal;
  font-size: 100%;
  color: whitesmoke;
  text-align: justify;
  margin-bottom: 20px;
}
main.skills div.megacontenedor section.idiomas div.skill-card div.container div.progress div.progress-bar, main.skills div.megacontenedor section.programacion div.skill-card div.container div.progress div.progress-bar, main.skills div.megacontenedor section.diseño div.skill-card div.container div.progress div.progress-bar, main.skills div.megacontenedor section.loc div.skill-card div.container div.progress div.progress-bar {
  background-color: #ff5277;
}
main.skills div.megacontenedor section.idiomas div.skill-card div.container p.separador, main.skills div.megacontenedor section.programacion div.skill-card div.container p.separador, main.skills div.megacontenedor section.diseño div.skill-card div.container p.separador, main.skills div.megacontenedor section.loc div.skill-card div.container p.separador {
  color: whitesmoke;
  text-align: center;
  margin-top: 20px;
}

@media screen and (min-width: 1024px) {
  main.skills {
    margin-bottom: 10%;
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: 2fr;
    gap: 30px;
  }
  main.skills div.megacontenedor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 40px;
    align-items: normal;
  }
  main.skills div.megacontenedor section.idiomas div.skill-card, main.skills div.megacontenedor section.programacion div.skill-card, main.skills div.megacontenedor section.diseño div.skill-card, main.skills div.megacontenedor section.loc div.skill-card {
    background-color: #0E141B;
    padding: 20px;
    border-radius: 10px;
    gap: 50px;
    width: 100%;
  }
  main.skills div.megacontenedor section.idiomas div.skill-card, main.skills div.megacontenedor section.programacion div.skill-card, main.skills div.megacontenedor section.diseño div.skill-card, main.skills div.megacontenedor section.loc div.skill-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin-top: 0;
  }
  main.skills div.megacontenedor section.idiomas div.skill-card h2, main.skills div.megacontenedor section.programacion div.skill-card h2, main.skills div.megacontenedor section.diseño div.skill-card h2, main.skills div.megacontenedor section.loc div.skill-card h2 {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 550;
    font-style: normal;
    font-size: 130%;
    color: #ff5277 !important;
    text-align: center;
    margin-bottom: 20px;
  }
  main.skills div.megacontenedor section.idiomas div.skill-card div.container p.lang, main.skills div.megacontenedor section.programacion div.skill-card div.container p.lang, main.skills div.megacontenedor section.diseño div.skill-card div.container p.lang, main.skills div.megacontenedor section.loc div.skill-card div.container p.lang {
    font-family: "Libre Baskerville", serif;
    font-weight: 550;
    font-style: normal;
    font-size: 100%;
    color: whitesmoke;
    text-align: justify;
    margin-bottom: 20px;
  }
  main.skills div.megacontenedor section.idiomas div.skill-card div.container div.progress div.progress-bar, main.skills div.megacontenedor section.programacion div.skill-card div.container div.progress div.progress-bar, main.skills div.megacontenedor section.diseño div.skill-card div.container div.progress div.progress-bar, main.skills div.megacontenedor section.loc div.skill-card div.container div.progress div.progress-bar {
    background-color: #ff5277;
  }
  main.skills div.megacontenedor section.idiomas div.skill-card div.container p.separador, main.skills div.megacontenedor section.programacion div.skill-card div.container p.separador, main.skills div.megacontenedor section.diseño div.skill-card div.container p.separador, main.skills div.megacontenedor section.loc div.skill-card div.container p.separador {
    color: whitesmoke;
    text-align: center;
    margin-top: 20px;
    display: none;
  }
  main.skills div.megacontenedor section.idiomas {
    grid-column: 2;
    grid-row: 1;
  }
  main.skills div.megacontenedor section.programacion {
    grid-column: 1;
    grid-row: span 2;
    margin-top: 0;
  }
  main.skills div.megacontenedor section.diseño {
    grid-column: 3;
    grid-row: 1;
  }
  main.skills div.megacontenedor section.loc {
    grid-column: 2;
    grid-row: 2;
  }
  main.skills div.megacontenedor h1 {
    text-align: left;
    margin-left: 150px;
  }
}
/* mixing para estilo de header */
/* mixing para el footer */
/* celular */
/* desktop */
/* para celu: */
/* este mixing es para lograr el efecto de tarjeta con fondo azul, para que sobresalte cada elemento, en el HTML "04 skills" */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main.contacto {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 30px;
  margin: 50px;
}
main.contacto h1 {
  margin-top: 10px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 650%;
  color: whitesmoke;
  text-align: center;
}
main.contacto div.contacto-elementos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 40px;
  background-color: #0E141B;
  padding: 20px;
  border-radius: 30px;
}
main.contacto div.contacto-elementos section.form button.btn {
  background-color: #ff5277;
  border-color: #ff5277;
  border-radius: 20%;
}
main.contacto div.contacto-elementos section.form label {
  font-family: "Libre Baskerville", serif;
}
main.contacto div.contacto-elementos p.nota {
  font-family: "Libre Baskerville", serif;
  color: whitesmoke;
}
main.contacto div.contacto-elementos section.datos {
  gap: 30px;
}
main.contacto div.contacto-elementos section.datos .mail {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
}
main.contacto div.contacto-elementos section.datos .info p {
  color: whitesmoke;
}
main.contacto div.contacto-elementos section.datos .cel {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
}
main.contacto div.contacto-elementos section.datos .ubi {
  display: flex;
  gap: 30px;
}
main.contacto div.contacto-elementos section.datos p {
  font-family: "Libre Baskerville", serif;
}
main.contacto div.contacto-elementos .icono img, main.contacto div.contacto-elementos section.datos .cel img, main.contacto div.contacto-elementos section.datos .ubi img {
  width: 25px;
}

@media screen and (min-width: 1024px) {
  main.contacto {
    margin-bottom: 10%;
  }
  main.contacto div.contacto-elementos {
    display: flex;
    gap: 150px;
  }
  main.contacto div.contacto-elementos p.nota {
    width: 500px;
    text-align: justify;
  }
  main.contacto section.form {
    display: grid;
    width: 30%;
    grid-template-columns: 3fr;
    grid-template-rows: auto auto;
    gap: 30px;
    background-color: #0E141B;
    padding: 20px;
    border-radius: 10px;
    border: 0;
  }
  main.contacto section.form button.btn {
    background-color: #ff5277;
    border-color: #ff5277;
    border-radius: 20%;
  }
  main.contacto section.datos {
    background-color: #0E141B;
    padding: 20px;
    border-radius: 10px;
    border: 0;
    width: 30%;
    height: auto;
  }
  main.contacto section.datos div.mail div.icono img, main.contacto section.datos div.cel div.cel img, main.contacto section.datos div.ubi div.ubi img {
    border: 0;
    object-fit: contain;
  }
  main.contacto h1 {
    text-align: left;
    margin-left: 150px;
  }
}

/*# sourceMappingURL=main.css.map */
