@charset "UTF-8";
/* mixing para el footer */
/* celular */
/* desktop */
/* para celu: */
/* este mixing es para lograr el efecto de tarjeta con fondo azul, para que sobresalte cada elemento, en el HTML "04 skills" */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #23272A;
}

header {
  background-color: #0E141B;
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;
  align-items: center;
  height: 80px;
}
header img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-color: aliceblue;
}
header nav ul {
  display: flex;
  color: whitesmoke;
  list-style: none;
  gap: 70px;
}
header nav ul li a:link, header nav ul li a:visited {
  font-family: "Lexend Deca", sans-serif;
  color: whitesmoke;
  font-weight: 500;
  font-size: medium;
  text-decoration: none;
}
header nav.navbar div.container-fluid div.collapse ul.navbar-nav li.nav-item a.nav-link:hover, header li.nav-link a:active {
  color: crimson;
}

.bg-light {
  background-color: #0E141B !important;
}

.navbar-nav .nav-link.active {
  color: whitesmoke !important;
}

button.navbar-toggler {
  background-color: whitesmoke !important;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 30px;
  margin: 50px;
}
main div.texto h1 {
  margin-top: 10px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 650%;
  color: whitesmoke;
  text-align: center;
}
main div.texto h2 {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 550;
  font-style: normal;
  font-size: 200%;
  color: #ff5277;
  text-align: center;
  margin-bottom: 75px;
}
main div.texto p {
  font-family: "Libre Baskerville", serif;
  font-weight: 550;
  font-style: normal;
  font-size: 100%;
  color: whitesmoke;
  text-align: justify;
}
main .img {
  display: flex;
  justify-content: center;
}
main .img img {
  width: 20rem;
  height: 20rem;
  border-style: groove;
  border-radius: 25%;
  border-color: whitesmoke;
  margin-bottom: 100px;
}

footer {
  background-color: #0E141B;
  display: flex;
  height: 100px;
  gap: 40px;
  align-items: center;
  justify-content: center;
}
footer p.legal {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 100%;
  color: whitesmoke;
}
footer p.nombre {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100%;
  color: whitesmoke;
}
footer nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
}
footer nav ul li a img {
  height: 1.5em;
  width: 1.5em;
}

@media screen and (min-width: 800px) {
  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 30px;
    margin: 50px;
  }
}
@media screen and (min-width: 1024px) {
  /* animación para los componentes del <nav> */
  .navbar-nav .nav-link {
    color: whitesmoke;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 500;
    font-size: medium;
    text-decoration: none;
    transition: color 0.3s, transform 0.3s;
  }
  .navbar-nav .nav-link:hover,
  .navbar-nav .nav-link:focus {
    color: #ff5277 !important;
    transform: scale(1.1);
  }
  main {
    gap: 300px;
  }
  main div.texto {
    width: 800px;
  }
  main div.texto h1, main div.texto h2, main div.texto p {
    text-align: left;
    margin-left: 150px;
  }
  main div.texto p {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: large;
    text-decoration: solid;
    text-align: justify;
  }
  main .img img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 0%;
    border-style: groove;
    border-color: whitesmoke;
  }
}
@media screen and (min-width: 1024px) and (min-width: 1400px) {
  main {
    gap: 300px;
  }
  main div img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 0%;
    border-style: groove;
    border-color: whitesmoke;
  }
  main .container-main {
    display: flex;
    gap: 100px;
  }
  main .texto h1 {
    margin-top: 10px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 650%;
    color: whitesmoke;
    text-align: center;
  }
}
@media screen and (min-width: 1024px) {
  footer {
    bottom: 0;
    width: 100%;
    background-color: #0E141B;
    display: flex;
    height: 75px;
    gap: 200px;
    align-items: center;
    justify-content: center;
  }
}
/* mixing para el footer */
/* celular */
/* desktop */
/* para celu: */
/* este mixing es para lograr el efecto de tarjeta con fondo azul, para que sobresalte cada elemento, en el HTML "04 skills" */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 30px;
  margin: 50px;
}
main h1 {
  margin-top: 10px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 650%;
  color: whitesmoke;
  text-align: center;
}
main section {
  border: 1px solid white;
  padding: 20px;
}
main section div {
  gap: 10px;
}
main section.educacion div.referencia h3 {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 550;
  font-style: normal;
  font-size: 130%;
  color: #ff5277 !important;
  text-align: justify;
  margin-bottom: 20px;
}
main section div p.periodo, main section div p.establecimiento {
  font-family: "Libre Baskerville", serif;
  font-weight: 550;
  font-style: normal;
  font-size: 80%;
  color: whitesmoke;
  text-align: justify;
}

@media screen and (min-width: 1024px) {
  main.contenedor {
    margin-bottom: 10%;
    justify-content: center;
  }
  main.contenedor section.educacion {
    border: 0;
    margin-left: 100px;
    padding: 10px;
    max-width: 500px;
  }
  main.contenedor section.educacion div.tarjeta {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    gap: 10px;
  }
  main.contenedor section.educacion div.tarjeta {
    background-color: #0E141B;
    padding: 20px;
    border-radius: 10px;
  }
  main.contenedor section.educacion div .ano {
    grid-column: 1;
  }
  main.contenedor section.educacion div .referencia {
    grid-column: 2;
    background-color: #0E141B;
  }
  main.contenedor h1 {
    text-align: left;
    margin-left: 150px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main.experiencia {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 30px;
  margin: 50px;
}
main.experiencia h1 {
  margin-top: 10px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 650%;
  color: whitesmoke;
  text-align: center;
}
main.experiencia section {
  border: 1px solid white;
  padding: 20px;
}
main.experiencia section div {
  gap: 10px;
}
main.experiencia section div div.imagen img.exp {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}
main.experiencia section div h3 {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 550;
  font-style: normal;
  font-size: 130%;
  color: #ff5277 !important;
  text-align: justify;
  margin-bottom: 20px;
}
main.experiencia section div p.empresa, main.experiencia section div p.descripcion {
  font-family: "Libre Baskerville", serif;
  font-weight: 550;
  font-style: normal;
  font-size: 100%;
  color: whitesmoke;
  text-align: justify;
}

@media screen and (min-width: 1024px) {
  main.experiencia {
    margin-bottom: 10%;
  }
  main.experiencia h1 {
    text-align: left;
    margin-left: 150px;
  }
  main.experiencia div.contenido-centrado {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main.experiencia div.contenido-centrado section.experiencia {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    border: 0;
    margin-bottom: 20px;
  }
  main.experiencia div.contenido-centrado section.experiencia div.tarjeta {
    display: flex;
    align-items: flex-start;
    background-color: #0E141B;
    padding: 20px;
    border-radius: 10px;
    gap: 50px;
    width: 100%;
  }
  main.experiencia div.contenido-centrado section.experiencia div.tarjeta div.imagen {
    width: 100%;
    height: auto;
    max-width: 100px;
    object-fit: contain;
  }
  main.experiencia div.contenido-centrado section.experiencia div.content {
    flex: 1;
  }
  main.experiencia div.contenido-centrado section.experiencia div.imagen img.exp {
    border: 0;
  }
}
/* mixing para el footer */
/* celular */
/* desktop */
/* para celu: */
/* este mixing es para lograr el efecto de tarjeta con fondo azul, para que sobresalte cada elemento, en el HTML "04 skills" */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main.skills {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 30px;
  margin: 50px;
}
main.skills h1 {
  margin-top: 10px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 650%;
  color: whitesmoke;
  text-align: center;
}
main.skills section {
  border: 1px solid white;
  padding: 20px;
}
main.skills section h2 {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 550;
  font-style: normal;
  font-size: 130%;
  color: #ff5277 !important;
  text-align: center;
  margin-bottom: 20px;
}
main.skills section .container {
  border: 1.5px;
  border-color: aliceblue;
}
main.skills section .container p.lang {
  font-family: "Libre Baskerville", serif;
  font-weight: 550;
  font-style: normal;
  font-size: 100%;
  color: whitesmoke;
  text-align: justify;
  margin-bottom: 20px;
}
main.skills section .container p.separador {
  color: whitesmoke;
  text-align: center;
  margin-top: 20px;
}
main.skills section .container .progress-bar {
  background-color: #ff5277;
}

@media screen and (min-width: 1024px) {
  main.skills {
    margin-bottom: 10%;
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: 2fr;
    gap: 30px;
  }
  main.skills div.megacontenedor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr;
  }
  main.skills div.megacontenedor section.idiomas {
    grid-column: 1;
    grid-row: 1;
    border: 0;
  }
  main.skills div.megacontenedor section.idiomas div.skill-card {
    background-color: #0E141B;
    padding: 20px;
    border-radius: 10px;
    gap: 50px;
    width: 100%;
  }
  main.skills div.megacontenedor section.programacion {
    grid-column: 2;
    grid-row: 1;
    border: 0;
    grid-row: span 2;
  }
  main.skills div.megacontenedor section.programacion div.skill-card {
    background-color: #0E141B;
    padding: 20px;
    border-radius: 10px;
    gap: 50px;
    width: 100%;
  }
  main.skills div.megacontenedor section.diseño {
    grid-column: 3;
    grid-row: 1;
    border: 0;
  }
  main.skills div.megacontenedor section.diseño div.skill-card {
    background-color: #0E141B;
    padding: 20px;
    border-radius: 10px;
    gap: 50px;
    width: 100%;
  }
  main.skills div.megacontenedor section.loc {
    grid-column: 1;
    grid-row: 2;
    border: 0;
  }
  main.skills div.megacontenedor section.loc div.skill-card {
    background-color: #0E141B;
    padding: 20px;
    border-radius: 10px;
    gap: 50px;
    width: 100%;
  }
  main.skills h1 {
    text-align: left;
    margin-left: 150px;
  }
}
/* mixing para el footer */
/* celular */
/* desktop */
/* para celu: */
/* este mixing es para lograr el efecto de tarjeta con fondo azul, para que sobresalte cada elemento, en el HTML "04 skills" */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main.contacto {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 30px;
  margin: 50px;
}
main.contacto h1 {
  margin-top: 10px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 650%;
  color: whitesmoke;
  text-align: center;
}
main.contacto section.form label {
  font-family: "Libre Baskerville", serif;
}
main.contacto p.nota {
  font-family: "Libre Baskerville", serif;
  color: whitesmoke;
}
main.contacto section.datos {
  gap: 30px;
}
main.contacto section.datos .mail {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
}
main.contacto section.datos .info p {
  color: whitesmoke;
}
main.contacto section.datos .cel {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
}
main.contacto section.datos .ubi {
  display: flex;
  gap: 30px;
}
main.contacto section.datos p {
  font-family: "Libre Baskerville", serif;
}
main.contacto .icono img, main.contacto section.datos .cel img, main.contacto section.datos .ubi img {
  width: 25px;
}

@media screen and (min-width: 1024px) {
  main.contacto {
    margin-bottom: 10%;
  }
  main.contacto div.contacto-elementos {
    display: flex;
    gap: 150px;
  }
  main.contacto div.contacto-elementos p.nota {
    width: 500px;
    text-align: justify;
  }
  main.contacto section.form {
    display: grid;
    width: 30%;
    grid-template-columns: 3fr;
    grid-template-rows: auto auto;
    gap: 30px;
    background-color: #0E141B;
    padding: 20px;
    border-radius: 10px;
    border: 0;
  }
  main.contacto section.form button.btn {
    background-color: #ff5277;
    border-color: #ff5277;
    border-radius: 20%;
  }
  main.contacto section.datos {
    background-color: #0E141B;
    padding: 20px;
    border-radius: 10px;
    border: 0;
    width: 30%;
  }
  main.contacto section.datos div.mail div.icono img, main.contacto section.datos div.cel div.cel img, main.contacto section.datos div.ubi div.ubi img {
    border: 0;
    object-fit: contain;
  }
  main.contacto h1 {
    text-align: left;
    margin-left: 150px;
  }
}

/*# sourceMappingURL=main.css.map */
