/* primero vamos a resetear los valores por default */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    

/* estilos generales del <body> */
body {
    background-color: #23272A;
}



/* estilos generales del <header> */

header {
    display: flex;
    background-color: #0E141B;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
}

header img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-color: aliceblue;
}

header nav ul {
    display: flex;
    color: whitesmoke;
    list-style: none;   
    gap: 50px;
}

header nav ul li a:link, header nav ul li a:visited {
    font-family: "Lexend Deca", sans-serif;
    color: whitesmoke;
    font-weight: 500;
    font-size: small;
    text-decoration: none;
}

header nav ul li a:hover, header nav ul li a:active {
    color: crimson;
}



/* fuentes y estilos */

    h1 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 500%;
    color: whitesmoke;
    text-align: center
}

main {
    display: grid;
    grid-template-columns: repeat(2, 40%);
    grid-template-rows: repeat(4, 40%);
    margin-left: 50px;
    margin-right: 50px;
}

main div.idiomas h2, main div.traduccion h2, main div.diseno h2, main div.programacion h2 {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 200%;
    color: whitesmoke;
    text-align: justify;
    margin-bottom: 10px;
}

main div.idiomas p, main div.traduccion p, main div.diseno p, main div.programacion p {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 550;
    font-style:normal;
    font-size: 130%;
    color: whitesmoke;
    text-align: justify;
    margin-bottom: 10px;
}



div.progress {
    width: 100%;
}


main div.titulo h1 {
    grid-column: span 2;
    grid-row: 2;
}

 main div.idiomas {
    grid-column:  2;
    grid-row: 2;
}


main div.traduccion {
    grid-column: 2;
}

main div.diseno {
    grid-column: 2;
}

main div.diseno {
    grid-column: 2;
} 

main div.programacion {
    grid-column: 2;
} 


main div.idiomas div.progress div.progress-bar {
    grid-column: 3;
}

.skill {
    display: flex;
    align-items: center;
    gap: 70px;
    align-items: center;
}

.skill .progress {
    flex-grow: 1;
    margin-left: 10px;
}

div.idiomas, div.traduccion, div.diseno, div.programacion {
    margin-bottom: 50px;
}

div.progress {
    width: 50%;
}

