@import "../utilidades/variables";
@import "../utilidades/mixins";


@include reset;

main.contacto {
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: auto auto;
    gap: 30px;
    margin: 50px;
        h1 {
            @include titulo-main;
        }
    section.form {
        button.btn {
            background-color: $color-font-copete;
            border-color: $color-font-copete;
            border-radius: 20%;
        }
        label {
            font-family: $parrafo;
        }
    }

    p.nota {
        font-family: $parrafo;
        color: $color-font;
    }

    section.datos {
        gap: 30px;
        .mail {
            display: flex;
            gap: 30px;
            margin-bottom: 20px;
        }
        .info p {
            color: $color-font;
        }
        
        .cel {
            display: flex;
            gap: 30px; 
            margin-bottom: 20px;
        }
        .ubi {
            display: flex;
            gap: 30px;
        }
        p {
            font-family: $parrafo;
        }
    }

        .icono img, section.datos .cel img, section.datos .ubi img {
            width: 25px;
        }   
}


// resolución PC desktop (para tablet queda responsive también!)
@media screen and (min-width: 1024px) {
    main.contacto {
        margin-bottom: 10%;
        div.contacto-elementos {
            display: flex;
            gap: 150px;
            p.nota {
                width: 500px;
                text-align: justify;
            }
        }
        section.form  {
            display: grid;
            width: 30%;
            grid-template-columns: 3fr;
            grid-template-rows: auto auto;
            gap: 30px;
            background-color: $color-nav-foot;
            padding: 20px;
            border-radius: 10px;
            border: 0;
            button.btn {
                background-color: $color-font-copete;
                border-color: $color-font-copete;
                border-radius: 20%;
            }
        }
        section.datos {
            background-color: $color-nav-foot;
            padding: 20px;
            border-radius: 10px;
            border: 0;
            width: 30%;
            div.mail div.icono img, div.cel div.cel img, div.ubi div.ubi img {
                border: 0;
                object-fit: contain;
            } 
        }
        h1 { 
            text-align: left;
            margin-left: 150px;
        }
    }
 }