@import "../utilidades/variables";
@import "../utilidades/mixins";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: auto auto;
    gap: 30px;
    margin: 50px;
        h1 {
            @include titulo-main;
        }
    section.form {
        label {
            font-family: $parrafo;
        }
    }

    p.nota {
        font-family: $parrafo;
        color: $color-font;
    }

    section.datos {
        gap: 30px;
        .mail {
            display: flex;
            gap: 30px;
            margin-bottom: 20px;
        }
        .info p {
            color: $color-font;
        }
        
        .cel {
            display: flex;
            gap: 30px; 
            margin-bottom: 20px;
        }
        .ubi {
            display: flex;
            gap: 30px;
        }
        p {
            font-family: $parrafo;
        }
    }

        .icono img, section.datos .cel img, section.datos .ubi img {
            width: 25px;
    }   
}


// resolución PC desktop (para tablet queda responsive también!)
@media screen and (min-width: 1024px) {
    main {
        margin-bottom: 10%;
        section.form, section.datos {
            display: grid;
            width: 50%;
            grid-template-columns: 3fr;
            grid-template-rows: auto auto;
            gap: 30px;
            margin-left: 40%;
        }
        h1 { 
            text-align: left;
            margin-left: 150px;
        }
    }
 }