@import "../utilidades/variables";
@import "../utilidades/mixins";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: auto auto;
    gap: 30px;
    margin: 50px;
        h1 {
            @include titulo-main;
        }
        section {
            border: 1px solid white;
            padding: 20px;
            div {
                gap: 10px;
            }
        }
        section div h3 {
            font-family: $subtitulo;
            font-weight: 550;
            font-style:normal;
            font-size: 200%;
            color: $color-font-copete !important;
            text-align: justify;
            margin-bottom: 20px;
        }
        section div p.periodo, section div p.establecimiento {
            font-family: $parrafo;
            font-weight: 550;
            font-style:normal;
            font-size: 100%;
            color: $color-font;
            text-align: justify;
        }
}

 // resolución PC desktop
 @media screen and (min-width: 1024px) {
    main {
        margin-bottom: 10%;
        section {
            display: grid;
            width: 50%;
            grid-template-columns: 1fr ;
            grid-template-rows: auto auto;
            gap: 30px;
            margin-left: 40%;
        }
        h1 { 
            text-align: left;
            margin-left: 150px;
        }
    }
 }