*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: auto auto;
    gap: 30px;
    margin: 50px;
        h1 {
            @include titulo-main;
        }
        section {
            border: 1px solid white;
            padding: 20px;
            div {
                gap: 10px;
                div.imagen img.exp {
                    max-width: 100%; 
                    height: auto; 
                    margin-bottom: 10px; 
                }
            }
        }
        section div h3 {
            font-family: $subtitulo;
            font-weight: 550;
            font-style:normal;
            font-size: 200%;
            color: $color-font;
            text-align: justify;
            margin-bottom: 20px;
        }
        section div p.empresa, section div p.descripcion {
            font-family: $parrafo;
            font-weight: 550;
            font-style:normal;
            font-size: 100%;
            color: $color-font;
            text-align: justify;
        }
}

 // resolución PC desktop
 @media screen and (min-width: 1024px) {
    main {
        margin-bottom: 10%;
        section {
            display: grid;
            width: 50%;
            grid-template-columns: 1fr ;
            grid-template-rows: auto auto;
            gap: 30px;
            margin-left: 40%;
            div {
                div.imagen {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    max-width: 100%;
             }
            div.imagen img.exp  {
                width: 100%; 
                height: auto; 
                max-width: 150px;
        }
        h1 { 
            text-align: left;
            margin-left: 150px;
        }
    }
 }
}
}