
@include reset;

main.experiencia {
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: auto auto;
    gap: 30px;
    margin: 50px;
        h1 {
            @include titulo-main-mobile;
        } 
        div.contenido-centrado {
            display: flex;
            flex-direction: column;
            align-items: center;
            section.experiencia {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 50px; 
                div.tarjeta {
                    display: grid;
                    grid-template-columns: 1fr 3fr;
                    grid-template-rows: auto;
                    gap: 40px;
                    background-color: $color-nav-foot;
                    padding: 20px;
                    border-radius: 30px;
                    div.imagen img.exp {
                        max-width: 100%; 
                        height: auto; 
                        margin-bottom: 10px; 
                    }
                    div.content h3 {
                        font-family: $subtitulo;
                        font-weight: 550;
                        font-style: normal;
                        font-size: 130%;
                        color: $color-font-copete !important;
                        text-align: justify;
                        margin-bottom: 20px;
                    }
                    div.content p.empresa, div.content p.descripcion {
                        font-family: $parrafo;
                        font-weight: 550;
                        font-style:normal;
                        font-size: 100%;
                        color: $color-font;
                        text-align: justify;
                    }
                }      
            }
        }       
    }

 // resolución PC desktop
 @media screen and (min-width: 1024px) {
    main.experiencia {
        margin-bottom: 10%;
        h1 { 
            text-align: left;
            margin-left: 150px;
        }
        div.contenido-centrado {
            display: flex;
            flex-direction: column;
            align-items: center; 
                section.experiencia {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 50%;
                    border: 0;
                    margin-bottom: 20px;              
                    div.tarjeta {
                        display: flex;
                        align-items: flex-start; 
                        background-color: $color-nav-foot;
                        padding: 20px;
                        border-radius: 10px;
                        gap: 50px; 
                        width: 100%; 
                        div.imagen {
                            width: 100%;
                            height: auto;
                            max-width: 100px; 
                            object-fit: contain; 
                        }      
                    }
                div.content {
                    flex: 1; 
                }
                div.imagen img.exp  {
                 border: 0;
                }

            }
        }
    }
}