*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main.experiencia {
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: auto auto;
    gap: 30px;
    margin: 50px;
        h1 {
            @include titulo-main;
        }
        section {
            border: 1px solid white;
            padding: 20px;
            div {
                gap: 10px;
                div.imagen img.exp {
                    max-width: 100%; 
                    height: auto; 
                    margin-bottom: 10px; 
                }
            }
        }
        section div h3 {
            font-family: $subtitulo;
            font-weight: 550;
            font-style: normal;
            font-size: 130%;
            color: $color-font-copete !important;
            text-align: justify;
            margin-bottom: 20px;
        }
        section div p.empresa, section div p.descripcion {
            font-family: $parrafo;
            font-weight: 550;
            font-style:normal;
            font-size: 100%;
            color: $color-font;
            text-align: justify;
        }
}

 // resolución PC desktop
 @media screen and (min-width: 1024px) {
    main.experiencia {
        margin-bottom: 10%;
        h1 { 
            text-align: left;
            margin-left: 150px;
        }
        div.contenido-centrado {
            display: flex;
            flex-direction: column;
            align-items: center; /* Centra el contenido horizontalmente */
                section.experiencia {
                // display: flex;
                // width: 50%;
                // border: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 50%;
                border: 0;
                margin-bottom: 20px; /* Espacio entre secciones */                 
                    div.tarjeta {
                        display: flex;
                        align-items: flex-start; /* Alinea los elementos al inicio (parte superior) */
                        background-color: $color-nav-foot;
                        padding: 20px;
                        border-radius: 10px;
                        gap: 50px; /* Espacio entre la imagen y el contenido */
                        width: 100%; /* Asegura que la tarjeta ocupe el 100% del contenedor */
                        div.imagen {
                            // display: flex;
                            // justify-content: center;
                            // align-items: center;
                            // max-width: 100%;
                            width: 100%;
                            height: auto;
                            max-width: 100px; /* Ajusta el tamaño máximo de las imágenes */
                            object-fit: contain; /* Asegura que la imagen mantenga sus proporciones */
                    }
                }
                div.content {
                    flex: 1; /* Permite que el contenido ocupe el espacio restante */
                }
                div.imagen img.exp  {
                 border: 0;
                }

    }
 }
}
}