@import "../utilidades/variables";
@import "../utilidades/mixins";


@include reset;

main.skills {
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: auto;
    gap: 30px;
    margin: 50px;
       div.titulo h1 {
            @include titulo-main-mobile;
        }
        div.megacontenedor {
            display: flex;
            flex-direction: column;
            align-items: center;
            section.idiomas, section.programacion, section.diseño, section.loc {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 50px; 
                width: 100%; /* ESTO ACABO DE AGREGAR! Asegura que los sections ocupen todo el ancho disponible */
                div.skill-card {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: auto;
                    gap: 40px;
                    background-color: $color-nav-foot;
                    padding: 20px;
                    border-radius: 30px;
                    width: 100%; /* Extiende el ancho de las tarjetas para que ocupen todo el espacio del contenedor */
                    max-width: 600px; /* Puedes establecer un ancho máximo para mantener un diseño más consistente */
                    h2 {
                        font-family: $subtitulo;
                        font-weight: 550;
                        font-style: normal;
                        font-size: 130%;
                        color: $color-font-copete !important;
                        text-align: center;
                        margin-bottom: 20px;
                    }
                    div.container {
                        p.lang {
                            font-family: $parrafo;
                            font-weight: 550;
                            font-style:normal;
                            font-size: 100%;
                            color: $color-font;
                            text-align: justify;
                            margin-bottom: 20px;  
                        }
                        div.progress div.progress-bar {
                            background-color: #ff5277;
                        }
                        p.separador {
                        color: $color-font;
                        text-align: center;
                        margin-top: 20px;  
                        }
                    }
                }
            }
        }
    }


// resolución PC desktop
@media screen and (min-width: 1024px) {
    main.skills {   
        margin-bottom: 10%;
        display: grid;
        grid-template-columns: 3fr ;
        grid-template-rows: 2fr;
        gap: 30px;
        div.titulo h1 { 
            @include titulo-main-mobile;
            text-align: left;
            margin-left: 150px;
        }
        div.megacontenedor {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto auto;
            gap: 40px;
            align-items: normal;
            section.idiomas, section.programacion, section.diseño, section.loc {
                @include card-azul;        
                div.skill-card {
                    display: grid;
                    grid-template-columns: 1fr; 
                    grid-template-rows: auto;
                    margin-top: 0;
                    h2 {
                        font-family: $subtitulo;
                        font-weight: 550;
                        font-style: normal;
                        font-size: 130%;
                        color: $color-font-copete !important;
                        text-align: center;
                        margin-bottom: 20px;
                    }
                    div.container {
                        p.lang {
                            font-family: $parrafo;
                            font-weight: 550;
                            font-style:normal;
                            font-size: 100%;
                            color: $color-font;
                            text-align: justify;
                            margin-bottom: 20px;  
                        }
                        div.progress div.progress-bar {
                            background-color: #ff5277;
                        }
                        p.separador {
                        color: $color-font;
                        text-align: center;
                        margin-top: 20px;  
                        display: none;
                        }
                    }
                }
            }
            section.idiomas {
                grid-column: 2;
                grid-row: 1;

            }
            section.programacion {
                grid-column: 1;
                grid-row: span 2;
                margin-top: 0;
            }
            section.diseño {
                grid-column: 3;
                grid-row: 1;
            }
            section.loc {
                grid-column: 2;
                grid-row: 2;
            }    

    }
    }
}