@import "../utilidades/variables";
@import "../utilidades/mixins";


@include reset;

main.skills {
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: auto auto;
    gap: 30px;
    margin: 50px;
        h1 {
            @include titulo-main;
        }
        section {
            border: 1px solid white;
            padding: 20px;
            h2 {
                font-family: $subtitulo;
                font-weight: 550;
                font-style: normal;
                font-size: 130%;
                color: $color-font-copete !important;
                text-align: center;
                margin-bottom: 20px;
            }
            
            .container {
                border: 1.5px;
                border-color: aliceblue;
                p.lang {
                    font-family: $parrafo;
                    font-weight: 550;
                    font-style:normal;
                    font-size: 100%;
                    color: $color-font;
                    text-align: justify;
                    margin-bottom: 20px;  
                }
                p.separador {
                    color: $color-font;
                    text-align: center;
                    margin-top: 20px;
                }
                .progress-bar {
                    background-color: #ff5277;
                }
            }
    }
}

// resolución PC desktop
@media screen and (min-width: 1024px) {
    main.skills {   
        margin-bottom: 10%;
        display: grid;
        grid-template-columns: 3fr ;
        grid-template-rows: 2fr;
        gap: 30px;
        div.megacontenedor {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 2fr;
            section.idiomas {
                grid-column: 1;
                grid-row: 1;
                border: 0;
                @include card-azul;
            }
            section.programacion {
                grid-column: 2;
                grid-row: 1;
                border: 0;
                grid-row: span 2;
                @include card-azul;
            }
            section.diseño {
                grid-column: 3;
                grid-row: 1;
                border: 0;
                @include card-azul;
            }
            section.loc {
                grid-column: 1;
                grid-row: 2;
                border: 0;
                @include card-azul;
            }
        }
        h1 { 
            text-align: left;
            margin-left: 150px;
        }
    }
 }