
// reset para cada HTML
@mixin reset {
        *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        }
}


/* mixing para estilo de header */
@mixin header {
        header {
        background-color: $color-nav-foot;
        display: flex;
        justify-content: space-between;
        padding: 20px 100px;
        align-items: center;
        height: 80px;
        }
}


/* mixing para título principal de cada HTML en desktop */
@mixin titulo-main {
        margin-top: 10px;
        font-family: $titulo-main;
        font-weight: 400;
        font-style: normal;
        font-size: 650%;
        color: $color-font;
        text-align: center;
}

/* mixing para título principal de cada HTML en celular */
@mixin titulo-main-mobile {
        margin-top: 10px;
        font-family: $titulo-main;
        font-weight: 400;
        font-style: normal;
        font-size: 450%;
        color: $color-font;
        text-align: center;
}

/* subtítulo principal para cada HTML desktop*/

/* subtítulo principal para cada HTML en celular */
@mixin subtitulo-main-mobile {
        font-family: $subtitulo;
        font-weight: 550;
        font-style:normal;
        font-size: 150%;
        color: $color-font-copete;
        text-align: center;
        margin-bottom: 50px;
}




/* mixing para el footer */
/* celular */
@mixin footer_celu {
        background-color: $color-nav-foot;
        display: flex;
        height: 100px;
        gap: 40px;
        align-items: center;
        justify-content: center;
}

/* desktop */
@mixin footer_desktop {
        bottom: 0;
        width: 100%;
        background-color: $color-nav-foot;
        display: flex;
        height: 75px;
        gap: 200px;
        align-items: center;
        justify-content: center;
}


/* para celu: */
@mixin pic-principal-cel {
        display: flex;
        justify-content: center;
        img {
        // width: 20rem;
        // height: 20rem;
        // border-style:groove;
        // border-radius: 25%;
        // border-color: whitesmoke;
        // margin-bottom: 100px;
        max-width: 100%;
        height: auto;
        border-style: groove;
        border-radius: 25%;
        border-color: whitesmoke;

        }
}

/* este mixing es para lograr el efecto de tarjeta con fondo azul, para que sobresalte cada elemento, en el HTML "04 skills" */

@mixin card-azul {
        div.skill-card {
                background-color: $color-nav-foot;
                padding: 20px;
                border-radius: 10px;
                gap: 50px; 
                width: 100%;
        }
}

