

// mixing para título principal de cada HTML
@mixin titulo-main {
        margin-top: 10%;
        font-family: $titulo-main;
        font-weight: 400;
        font-style: normal;
        font-size: 800%;
        color: $color-font;
        text-align: center;
}