// colores
$color-main: #23272A;
$color-nav-foot: #0E141B;
$color-font: whitesmoke;
$color-hover: crimson;


// fuentes
$titulo-main: "Bebas Neue", sans-serif;
$subtitulo: "Lexend Deca", sans-serif;
$parrafo: "Libre Baskerville", serif;